__pycache__/

log

.tmp
.filecache
.cache
.build
.gradle
.idea

.vagrant
overrides.*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
# vim
.swp

deploy/chef/cookbook/data_server/files/default/dist-file
allure-results
allure-report